.section {
  width: 100%;
  min-height: 100dvh;
  background: var(--background-linear-gradient-skyblue);
  padding: var(--padding);
}

.sectionContent {
  max-width: var(--max-content-width);
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--gap-xl);
}

.skillsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xl);
}

.skillsSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--gap-lg);
}

.categoryTitle {
  font-size: var(--font-size-2xl);
  font-weight: 700;
  color: var(--color-black);
  padding-bottom: var(--spacing-sm);
  border-bottom: 4px solid var(--color-primary-skyblue);
}

.skillsList {
  background: var(--color-white);
  padding: var(--padding);
  border-radius: var(--border-radius-lg);
  box-shadow: var(--shadow-md);
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-sm);
  list-style: none;
}

.certificationsSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--gap-lg);
}

.certificationsList {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
}
